

<div class="topnav" id="myTopnav">
  <a href="" (click)="logOut()" class="active"><span class="glyphicon glyphicon-log-out topnavicon" ></span></a>
  <a href="#about"><img src="../../../assets/img/bulb.jpeg" alt="Avatar" class="avatar"><span class="msgno">2</span></a>
  <a href="#about"><img src="../../../assets/img/mail.jpeg" alt="Avatar" class="avatar"><span class="msgno">2</span></a>
  <a href="#about"><img src="../../../assets/img/img_avatar.png" alt="Avatar" class="avatar"></a>
  <div id="wave1"></div>
  <div id="wave2"></div>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

